<!DOCTYPE html>
<html>
<head>
    <title> Portal index </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <h1> <center> Welcome to the portal index </center> </h1>
    <hr>
    <p>
        <a href="http://127.0.0.1:5000/create_vol_op"> <center> <h3> <b>Create a volunteering opportunity </b> </h3> </center> </a>
        <center> <p>({{ count_ops }} so far)</p> </center>
        <a href="http://127.0.0.1:5000/search_ops" > <center> <h3> <b>Search volunteering opportunities</b> </h3> </center></a>
    </p>
</body>
</html>